/* Sidebar.css */
.w3-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: #f8f9fa; /* Sidebar background color */
  }
  
  .w3-sidebar.open {
    width: 25%;
  }
  
  .w3-sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #000; /* Sidebar link color */
    display: block;
    transition: 0.3s;
  }
  
  .w3-sidebar a:hover {
    background-color: #ddd; /* Sidebar link hover background color */
  }
  
  .w3-sidebar .w3-bar-item {
    padding: 8px 8px 8px 32px;
    font-size: 18px;
    color: #000; /* Sidebar link color */
    display: block;
    transition: 0.3s;
  }
  
  .w3-sidebar .w3-bar-item:hover {
    background-color: #ddd; /* Sidebar link hover background color */
  }
  
  .w3-button {
    margin-bottom: 10px;
  }
  
  .w3-teal {
    background-color: #007bff; /* Teal color for the top bar */
    color: #fff; /* Text color for the top bar */
    padding: 10px;
  }
  